<div name="searchFlight" id="searchFlight">
  <fieldset id="search">

    <div class="inline">
      <mat-form-field>
        <mat-label> Company</mat-label>
        <mat-select>
          <mat-option></mat-option>
          <mat-option>Air France</mat-option>
          <mat-option>Emirates</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="inline">
      <div class="left">
        <mat-form-field class="left">
          <mat-label> Trip</mat-label>
          <mat-select>
            <mat-option></mat-option>
            <mat-option>One-way ticket</mat-option>
            <mat-option>Round trip</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="right">
          <mat-label>Flight Type</mat-label>
          <mat-select>
            <mat-option></mat-option>
            <mat-option>Direct flight</mat-option>
            <mat-option>connecting flight</mat-option>
          </mat-select>
        </mat-form-field>
      </div>


      <div class="right">
        <mat-form-field>
          <input matInput placeholder="Aircrafft Type">
        </mat-form-field>
      </div>
    </div>

    <div class="inline">
      <div class="left">
        <mat-form-field>
          <input matInput placeholder="Departing from">
        </mat-form-field>
        <mat-icon>flight_takeoff</mat-icon>
      </div>

      <div class="right">
        <mat-icon>flight_land</mat-icon>
        <mat-form-field>
          <input matInput placeholder="Arriving at">
        </mat-form-field>
      </div>
    </div>

    <div class="inline">
      <div class="left">
        <div class="left">
          <mat-form-field>
            <mat-label>Departing date min</mat-label>
            <input matInput [matDatepicker]="deparMin">
            <mat-datepicker-toggle matSuffix [for]="deparMin"></mat-datepicker-toggle>
            <mat-datepicker #deparMin></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="right">
          <mat-form-field>
            <mat-label>Departing date max</mat-label>
            <input matInput [matDatepicker]="deparMax">
            <mat-datepicker-toggle matPrefix [for]="deparMax"></mat-datepicker-toggle>
            <mat-datepicker #deparMax></mat-datepicker>
          </mat-form-field>
        </div>
      </div>
      <div class="right">
        <div class="left">
          <mat-form-field>
            <mat-label>Departing time min</mat-label>
            <input matInput
                   [ngxTimepicker]="deparTimeMin"
                   [disableClick]="true"
                   [format]="24"
                   readonly formControlName="departrueTimeMin">
          </mat-form-field>
          <ngx-material-timepicker-toggle [for]="deparTimeMin">
          </ngx-material-timepicker-toggle>
          <ngx-material-timepicker #deparTimeMin [theme]="timeTheme"></ngx-material-timepicker>
        </div>

        <div class="right">
          <mat-form-field>
            <mat-label>Departing time max</mat-label>
            <input matInput
                   [ngxTimepicker]="deparTimeMax"
                   [disableClick]="true"
                   [format]="24"
                   readonly formControlName="departrueTimeMax">
          </mat-form-field>
          <ngx-material-timepicker-toggle [for]="deparTimeMax">
          </ngx-material-timepicker-toggle>
          <ngx-material-timepicker #deparTimeMax></ngx-material-timepicker>
        </div>
      </div>

    </div>


    <div class="inline">
      <div class="left">
        <div class="left">
          <mat-form-field>
            <mat-label>Arriving date min</mat-label>
            <input matInput [matDatepicker]="arrivMin">
            <mat-datepicker-toggle matSuffix [for]="arrivMin"></mat-datepicker-toggle>
            <mat-datepicker #arrivMin></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="right">
          <mat-form-field>
            <mat-label>Arriving date max</mat-label>
            <input matInput [matDatepicker]="arrivMax">
            <mat-datepicker-toggle matPrefix [for]="arrivMax"></mat-datepicker-toggle>
            <mat-datepicker #arrivMax></mat-datepicker>
          </mat-form-field>
        </div>
      </div>
      <div class="right">
        <div class="left">
          <mat-form-field>
            <mat-label>Arriving time min</mat-label>
            <input matInput
                   [ngxTimepicker]="arrivTimeMin"
                   [disableClick]="true"
                   [format]="24"
                   readonly formControlName="arrivtrueTimeMin">
          </mat-form-field>
          <ngx-material-timepicker-toggle [for]="arrivTimeMin">
          </ngx-material-timepicker-toggle>
          <ngx-material-timepicker #arrivTimeMin></ngx-material-timepicker>
        </div>

        <div class="right">
          <mat-form-field>
            <mat-label>Arriving time max</mat-label>
            <input matInput
                   [ngxTimepicker]="arrivTimeMax"
                   [disableClick]="true"
                   [format]="24"
                   readonly formControlName="arrivtrueTimeMax">
          </mat-form-field>
          <ngx-material-timepicker-toggle [for]="arrivTimeMax">
          </ngx-material-timepicker-toggle>
          <ngx-material-timepicker #arrivTimeMax></ngx-material-timepicker>
        </div>
      </div>

    </div>

    <div class="inline">
      <div class="left">

        <div class="left">
          <mat-form-field>
            <mat-label>Flight Duration min</mat-label>
            <input matInput
                   [ngxTimepicker]="durationMin"
                   [disableClick]="true"
                   [format]="24"
                   readonly>
          </mat-form-field>
          <ngx-material-timepicker-toggle [for]="durationMin">
          </ngx-material-timepicker-toggle>
          <ngx-material-timepicker #durationMin></ngx-material-timepicker>
        </div>

        <div class="right">
          <mat-form-field>
            <mat-label>Arriving Duration max</mat-label>
            <input matInput
                   [ngxTimepicker]="durationMax"
                   [disableClick]="true"
                   [format]="24"
                   readonly>
          </mat-form-field>
          <ngx-material-timepicker-toggle [for]="durationMax">
          </ngx-material-timepicker-toggle>
          <ngx-material-timepicker #durationMax></ngx-material-timepicker>
        </div>
      </div>

      <div class="right">
        <div class="left">
          <mat-form-field>
            <input matInput placeholder="Fare min">
          </mat-form-field>
        </div>

        <div class="right">
          <mat-form-field>
            <input matInput placeholder="Fare max">
          </mat-form-field>
        </div>
      </div>
    </div>

    <div class="inline">

      <div class="left">
        <div class="left">
          <mat-form-field>
            <mat-label>Back date min</mat-label>
            <input matInput [matDatepicker]="backdatemin">
            <mat-datepicker-toggle matSuffix [for]="backdatemin"></mat-datepicker-toggle>
            <mat-datepicker #backdatemin></mat-datepicker>
          </mat-form-field>
        </div>

        <div class="right">
          <mat-form-field>
            <mat-label>Back date max</mat-label>
            <input matInput [matDatepicker]="backdatemax">
            <mat-datepicker-toggle matSuffix [for]="backdatemax"></mat-datepicker-toggle>
            <mat-datepicker #backdatemax></mat-datepicker>
          </mat-form-field>
        </div>
      </div>


      <div class="right">
        <div class="left">
          <mat-form-field>
            <mat-label>Back Time min</mat-label>
            <input matInput
                   [ngxTimepicker]="backtimemin"
                   [disableClick]="true"
                   [format]="24"
                   readonly>
          </mat-form-field>
          <ngx-material-timepicker-toggle [for]="backtimemin">
          </ngx-material-timepicker-toggle>
          <ngx-material-timepicker #backtimemin></ngx-material-timepicker>
        </div>

        <div class="right">
          <mat-form-field>
            <mat-label>Back Time max</mat-label>
            <input matInput
                   [ngxTimepicker]="backtimemax"
                   [disableClick]="true"
                   [format]="24"
                   readonly>
          </mat-form-field>
          <ngx-material-timepicker-toggle [for]="backtimemax">
          </ngx-material-timepicker-toggle>
          <ngx-material-timepicker #backtimemax></ngx-material-timepicker>
        </div>
      </div>
    </div>

    <!--    connection durration-->

    <div class="inline">


      <div class="left">
        <mat-form-field>
          <mat-label>Connection duration min</mat-label>
          <input matInput
                 [ngxTimepicker]="connectdurmin"
                 [disableClick]="true"
                 [format]="24"
                 readonly>
        </mat-form-field>
        <ngx-material-timepicker-toggle [for]="connectdurmin">
        </ngx-material-timepicker-toggle>
        <ngx-material-timepicker #connectdurmin></ngx-material-timepicker>
      </div>

      <div class="right">
        <mat-form-field>
          <mat-label>Connection duration max</mat-label>
          <input matInput
                 [ngxTimepicker]="connectdurmax"
                 [disableClick]="true"
                 [format]="24"
                 readonly>
        </mat-form-field>
        <ngx-material-timepicker-toggle [for]="connectdurmax">
        </ngx-material-timepicker-toggle>
        <ngx-material-timepicker #connectdurmax></ngx-material-timepicker>
      </div>
    </div>

    <div id="buttonBar">
      <p class="firstRight">
        <button mat-raised-button color="primary">
          <mat-icon>search</mat-icon>
          Find a fligh
        </button>
      </p>
      <p class="nextRight">
      <button mat-raised-button>Cancel </button>
      </p>
    </div>

  </fieldset>
</div>
