/* You can add global styles to this file, and also import other style files */


fieldset#search {
  background: #f1f1f1;
  border: 0 none;
  width: 100%;
  border-bottom: 1px solid #ccc;
}

.inline {
  display:flex;
}
.left{
  display:flex;
  float: left;
  margin-right: 133px;
}
.right{
  display:flex;
  float: left;
}

#search #buttonBar .firstLeft{
  width:auto;
  margin-right:2px;
  float:left;
  text-align:left;
}

#search #buttonBar .nextLeft {
  width:auto;
  margin-left:20px;
  float:left;
  text-align:left;
}

#search #buttonBar .firstRight{
  width:auto;
  float:right;
  margin-left:2px;
  text-align:left;
}

#search #buttonBar .nextRight {
  width:auto;
  margin-right:20px;
  float:right;
  text-align:left;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

