<div id="menu">
  <ul class="menu">
    <li>
      <a>
        <mat-icon class="leftIcon">home</mat-icon>
        Home
      </a>
    </li>

    <li>
      <a>
        <mat-icon class="leftIcon">flight</mat-icon>
        Flights
      </a>
    </li>

    <li>
      <a>
        <mat-icon class="leftIcon">Bookmarks</mat-icon>
        bookmark
      </a>
    </li>

    <li>
      <a>
        <mat-icon class="leftIcon">Synthesis</mat-icon>
        pie_chart
      </a>
    </li>

    <li>
      <a>
        <mat-icon class="leftIcon">contacts</mat-icon>
        Contact
      </a>
    </li>

    <li>
      <a>
        <mat-icon class="leftIcon">help</mat-icon>
        Help
      </a>
    </li>

    <li>
      <a>
        <mat-icon class="leftIcon">power_settings_new</mat-icon>
        sign out
      </a>
    </li>
  </ul>
</div>
